// General Classes

.container {
    width: 100%;
    max-width: calc($containerWidth + $containerPadding * 2);
    padding: 0 $containerPadding;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;

    &_white {
        .logo__link {
            background-image: url("../images/logo-white.svg");
        }
    }

    &__link {
        display: inline-block;
        width: 10.5rem;
        height: 3.09481rem;
        background-image: url("../images/logo.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

}

@mixin soc-button($width, $height, $url) {
    min-width: $width;
    min-height: $height;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url($url);
}

%btn {
    min-width: 11.8125rem;
    height: 3.9375rem;
    padding: 0.5rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 0.875rem;
    background: $blue1;
    border-radius: 0.25rem;
    border: 1px solid $gray3;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.title-1 {
    font-size: 1.75rem;
    font-weight: $bold;
}

.title-2 {
    font-size: 2rem;
    font-weight: $bold;
}

.services-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20.3125rem;
    gap: 2.69rem;
}

.service {
    border-radius: 0.8125rem;
    border: 1px solid $gray2;
    padding: 1.88rem 1.88rem 1.81rem 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $gray5;

    &__section {

        &:first-child {
            margin-bottom: 2.94rem;
        }

        &:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
        }

    }

    &__title {
        font-size: 1.75rem;
        font-weight: $bold;
        margin-bottom: 1.06rem;
    }

    &__link-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__link-item {
        position: relative;
        margin-left: 14px;

        &::before {
            content: "";
            height: 3px;
            min-width: 3px;
            background: $gray5;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: -10px;
        }
    }

    &__link-text {
        font-size: 0.9375rem;
    }

    &__price-block {
        text-align: left;
    }

    &__price-text-bold {
        font-size: 1.75rem;
        font-weight: $bold;
    }

    &__price-text {
        font-size: 0.8125rem;
        font-weight: $light;
        opacity: 0.5;
    }

    &__btn {
        @extend %btn;
    }
}

.drop-down {
    width: 13.625rem;
    border-radius: 0.625rem;
    border: 1px solid $gray7;
    background: $white;
    box-shadow: 0px 4px 15px 0px $gray6;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0.38rem;
    z-index: 10;

    &__link {
        font-size: 0.875rem;
        padding: 0.65rem 0.81rem;
        display: inline-block;
        border-radius: 0.625rem;
        width: 100%;

        &_active {
            color: $white;
            background: $blue1;
        }
    }
}

.none {
    display: none !important;
}

.form {
    border-radius: 1.25rem;
    background: $blue1;
    color: $white;
    padding: 1.6rem 0.69rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 1.25rem;
        font-weight: $bold;
        margin-bottom: 1.94rem;
    }

    &__input {
        width: calc(100% - 1.38rem);
        margin-bottom: 0.81rem;
        border-radius: 0.8125rem;
        border: 1px solid $gray2;
        padding: 1.35rem 1.5rem;
        background: $white;
        color: $gray5;
        font-size: 0.9375rem;

        &::placeholder {
            color: $gray5;
            font-size: 0.9375rem;
            opacity: 0.5;
        }
    }

    &__btn {
        width: calc(100% - 1.38rem);
        @extend %btn;
        background: $white;
        height: 3.8125rem;
        border-radius: 0.63rem;
        color: $blue1;
        font-size: 0.9375rem;
        margin-bottom: 1.19rem;
    }

    &__description {
        font-size: 0.75rem;
    }

    &__description-link {
        text-decoration: underline;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.modal-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $gray9;

    &__img-section {
        background: $black;
        border-radius: 0.9375rem;
    }

    &__skip-btn {
        width: 0.8125rem;
        height: 0.8125rem;
        position: absolute;
        top: 0.9rem;
        right: 0.9rem;
        background-color: none;
        background-image: url("../images/skip-btn.svg");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &__container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        position: relative;
        max-width: 54.0625rem;
        min-height: 42.6875rem;
        border-radius: 0.9375rem;
        border: 1px solid $gray2;
        background: $white;
        padding: 4.5rem 4.25rem 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        &_mini {
            min-height: 32.5rem;
            max-width: 26.4375rem;
            padding: 3.94rem 1.81rem 2.69rem;

            .modal-1__header {
                margin-bottom: 2.5rem;
            }
        }
    }

    &__header {
        text-align: center;
        margin-bottom: 3.94rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 1.19rem;

        &_mini {
            font-size: 1.5rem;
        }
    }

    &__subtitle {
        font-size: 0.9375rem;
        max-width: 38.375rem;

        &_mini {
            font-size: 0.875rem;
        }
    }

    &__footer {
        margin-top: 3.94rem;
        display: flex;
        justify-content: center;
    }

    &__btn {
        @extend %btn;

        &_white {
            border: 1px solid rgba(255, 255, 255, 0.20);
            background: $blue15;
            color: $blue1;
        }
    }

    &__calculator {
        margin: 0 !important;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 21.125rem;
    }

    &__input {
        border-radius: 0.8125rem;
        border: 1px solid $gray2;
        background: $white;
        width: 100%;
        padding: 1.35rem 1.5rem;
        margin-bottom: 1.19rem;
    }

    &__submit-btn {
        @extend %btn;
        width: 100%;
        border-radius: 0.8125rem;
        margin-bottom: 1.19rem;
    }

    &__polytic-text {
        color: $gray10;
        text-align: center;
        font-size: 0.75rem;

        &_link {
            text-decoration: underline;
        }
    }
}

%calculator-btn {
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 0.25rem;
    border: 1px solid $gray3;
    background: $blue1;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        width: 1.1875rem;
        height: 1.1875rem;
        display: inline-block;
        background-image: url("../images/calculator-icon.svg");
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.header-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &__wrapper {
        width: 100%;
        height: 100vh;
        background: $black;
        color: $white;
        padding-top: 1.5rem;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4.74rem;

        .logo__link {
            width: 7.875rem;
        }
    }

    &__skip-btn {
        display: inline-flex;
        width: 1.67938rem;
        height: 1.67938rem;
        background-image: url("../images/skip-btn-2.svg");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &__calculator-btn {
        @extend %calculator-btn;
    }

    &__content {
        margin-bottom: 2.77rem;
    }

    &__link-list {
        display: flex;
        flex-direction: column;
        gap: 1.81rem;
    }

    &__link {
        font-size: 1.375rem;
        display: inline-flex;
        align-items: center;
        gap: 0.81rem;

        &:hover {
            color: $blue1;
            opacity: 1;
        }

        &_drop-down {
            &::after {
                content: "";
                width: 0.79581rem;
                height: 0.41356rem;
                display: inline-block;
                background-image: url("../images/drop-down-icon-2.svg");
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }
    }

    &__drop-down-list-wrapper {
        margin: 1.07rem 0 0 0.7rem;
    }

    &__drop-down-list {
        display: flex;
        flex-direction: column;
        gap: 0.87rem;
    }

    &__drop-down-link {
        font-size: 1.125rem;
        opacity: 0.7;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__soc-links {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    &__soc-link {
        display: inline-block;

        &_whatsapp {
            @include soc-button(3.88925rem, 3.88925rem, "../images/whatsapp-white-icon-2.svg");
        }

        &_telegram {
            @include soc-button(3.88925rem, 3.88925rem, "../images/telegram-white-icon-2.svg");
        }
    }

    &__company-info {
        font-style: normal;
    }

    &__phone {
        font-size: 1.54113rem;
        font-weight: $semibold;
    }

    &__address {
        font-size: 0.92469rem;
        font-weight: $light;
    }
}
