// Fonts Variables

$primaryFont: "Roboto";

$blackWeight: 900;
$extrabold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;
$light: 300;

// Colors Variables

$primaryColor: #7090FF;

$black: #18295B;
$white: white;

$gray1: #F6F8FC;
$gray2: #E7E7E7;
$gray3: rgba(255, 255, 255, 0.21);
$gray4: rgba(231, 231, 231, 0.50);
$gray5: #3D4159;
$gray6: rgba(0, 0, 0, 0.05);
$gray7: rgba(231, 231, 231, 0.93);
$gray8: #ECF0F8;
$gray9: rgba(0, 0, 0, 0.46);
$gray10: rgba(172, 172, 172, 0.91);

$blue1: #4770FF;
$blue2: #577DFF;
$blue3: #7090FF;
$blue4: #85A0FF;
$blue5: #7190FF;
$blue6: #30437A;
$blue7: #203163;
$blue8: rgba(71, 112, 255, 0.20);
$blue9: rgba(71, 112, 255, 0.10);
$blue10: #0E1C44;
$blue11: #6B7CB4;
$blue12: #9DADDF;
$blue13: rgba(71, 112, 255, 0.10);
$blue14: rgba(71, 112, 255, 0.07);
$blue15: rgba(71, 112, 255, 0.1);

$darkBlack: #000000;

// Container Variables

$containerWidth: 1140px;
$containerPadding: 30px;