// Calculator-2 Styles

.calculator-2 {

    &__content {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.9rem;

        &_two-columns {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__column {

        display: flex;
        flex-direction: column;

        &:first-child {
            gap: 1.44rem;
        }

        &:nth-child(2) {
            gap: 3rem;

            .calculator-1__input-title {
                margin-bottom: 0;
            }
        }

        &_type-2 {
            gap: 1.94rem !important;
        }
    }

    &__checkbox-inputs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__checkbox-section {
        display: flex;
        align-items: center;
        gap: 0.87rem;
    }

    &__checkbox {
        appearance: none;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            display: inline-block;
            width: 2.1875rem;
            height: 2.1875rem;
            border-radius: 0.5rem;
            border: 1px solid $gray2;
            background: $white;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.5rem;
            height: 1.5rem;
            background-image: url("../images/checkbox-active-icon.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: .5s;
        }

        &:checked::after {
            visibility: visible;
            opacity: 1;
        }
    }

    &__checkbox-title {
        color: $gray5;
        font-size: 0.9375rem;
        cursor: pointer;
    }

    .calculator-1__range-section:first-child {
        margin-bottom: 0;
    }
}