// Develop Slider Styles

.develop-slider {
    width: 100%;

    &__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 5.44rem;
    }

    &__header {
        margin-bottom: 6.94rem;
    }
    
    &__column {
        overflow: hidden;
    }

    &__title {
        max-width: 35.25rem;
        font-size: 1.75rem;
        font-weight: $bold;
        margin-bottom: 1.25rem;
    }

    &__subtitle {
        max-width: 35.25rem;
        color: $gray5;
        font-size: 0.875rem;
    }

    &__buttons {
        justify-content: flex-start;
        gap: 0.87rem;

        &_mobile {
            display: none;
        }
    }

    &__slider {
        max-width: 35rem;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
    }

    &__slider-wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: 1.88rem;
    }

    &__slider-btn {
        width: 3.6875rem;
        height: 3.6875rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.8125rem;
        border: 1px solid $blue8;
        background: $blue13;
        
        &::before {
            content: "";
            height: 1.5rem;
            width: 1.5rem;
            background-size: 100%;
            background-repeat: no-repeat;
            display: inline-block;
        }

        &_left {
            &::before {
                background-image: url("../images/arrow-left.svg");
            }
        }

        &_right {
            &::before {
                background-image: url("../images/arrow-right.svg");
            }
        }
    }
}

.develop-slide {
    border-radius: 0.8125rem;
    border: 1px solid $gray2;
    background: $white;
    width: 16.375rem;
    height: 18rem;
    padding: 3.94rem 2.56rem;

    &__img {
        width: 4.69rem;
        margin-bottom: 0.94rem;
    }

    &__text {
        color: $darkBlack;
        font-size: 0.9375rem;
    }
}
