// Packets Styles

.packets {
    width: 100%;

    &_margin {
        margin-top: 3.31rem;
    }

    &__content {
        width: 100%;
        border-radius: 1.25rem;
        background: $gray1;
        padding: 2.06rem 2.31rem 2.31rem;
        overflow: hidden;
    }

    &__header {
        justify-content: space-between;
        margin-bottom: 2.56rem;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__title {
        max-width: 7.5rem;
    }

    &__button-list {
        border-radius: 0.8125rem;
        border: 1px solid $gray4;
        background: $white;
        padding: 0.31rem;
    }

    &__button {
        color: $darkBlack;
        font-size: 0.875rem;
        background: none;
        padding: 0.5rem 1.31rem;
        border-radius: 0.8125rem;
        white-space: nowrap;

        &_active {  
            background: $blue1 !important;
            color: $white !important;
        }
    }

    &__items {
        flex-direction: column;
        align-items: start;
        gap: 1.19rem;
        transition: 0.5s;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 24.0625rem;
        border-radius: 1.25rem;
        background: $blue1;
        color: $white;
        padding-top: 1.69rem;
        text-align: center;
        background-image: url("../images/packets-form-background.svg");
        background-size: 46.29838rem 100%;
        background-position: right bottom;
        background-repeat: no-repeat;
    }

    &__form-title {
        font-size: 1.25rem;
        font-weight: $bold;
        margin-bottom: 3.38rem;
    }

    &__form-row {
        gap: 1.63rem;
        margin-bottom: 2.69rem;
    }

    &__input {
        border-radius: 0.8125rem;
        border: 1px solid $gray2;
        background: $white;
        width: 19.75rem;
        padding: 1.35rem 1.5rem;
        color: $gray5;
        font-size: 0.9375rem;

        &::placeholder {
            color: $gray5;
            font-size: 0.9375rem;
            opacity: 0.5;
        }
    }

    &__submit-btn {
        margin-bottom: 2.69rem;
        @extend %btn;
        border-radius: 0.8125rem;
        background: $white;
        color: $blue1;
        font-size: 0.9375rem;
        min-width: 19.75rem;
    }

    &__polytic-text {
        font-size: 0.75rem;
        max-width: 21.125rem;

        &_link {
            text-decoration: underline;
        }
    }

    &__additional-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.38rem;
        margin-top: 1.13rem;
    }

    &__additional-item {
        border-radius: 0.8125rem;
        border: 1px solid $gray4;
        background: $white;
        padding: 0.75rem 1.06rem 0.75rem 1.94rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    &__additional-title {
        color: $gray5;
        font-size: 1.0625rem;
        font-weight: $semibold;
    }

    &__additional-price {
        border-radius: 0.8125rem;
        border: 1px solid $blue8;
        background: $blue14;
        padding: 1rem 1.5rem;
        min-width: 8.5625rem;
        text-align: center;
        color: $blue1;
        font-size: 1.125rem;
        font-weight: $medium;
    }
}

.packets-2 {

    &__header {
        border-radius: 1.25rem;
        background: #ECF0F8;
        padding: 1.55rem 2rem;
    }

    &__button-list {
        background: none;
        padding: 0;
        gap: 0.87rem;
    }

    &__button {
        height: 2.9375rem;
        min-width: 9.75rem;
        background: $white;
        color: $blue1;
    }
}

.packet {
    width: 100%;
    border-radius: 0.8125rem;
    border: 1px solid $gray4;
    background: $white;
    padding: 2.19rem 1.56rem 2.19rem 2.19rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;

    &__column {

        &:last-child {
            min-width: 21.5625rem;
            min-height: 15.75rem;
            border-radius: 0.625rem;
            background: $gray1;
            padding: 0.87rem 1.13rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }
    }

    &__title {
        color: $gray5;
        font-size: 1.5rem;
        font-weight: $bold;
        margin-bottom: 1.63rem;
    }

    &__info-items {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 32rem;
    }

    &__info-item {
        position: relative;
        margin-left: 14px;

        &::before {
            content: "";
            height: 3px;
            min-width: 3px;
            background: $gray5;
            border-radius: 50%;
            position: absolute;
            top: 9px;
            left: -10px;
        }
    }

    &__info-text {
        color: $gray5;
        font-size: 0.9375rem;
        line-height: 1.40331rem;
    }

    &__button-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.8125rem;
        border: 1px solid $gray4;
        background: $white;
        padding: 0.31rem 0.56rem;
    }

    &__button {
        color: $blue1;
        font-size: 0.875rem;
        background: $blue13;
        padding: 0.5rem 0.81rem;
        border-radius: 0.8125rem;

        &_active {  
            background: $blue1;
            color: $white;
            padding: 0.5rem 1.06rem;
        }
    }

    &__price-bold-text {
        color: $gray5;
        font-size: 2.125rem;
        font-weight: $bold;
    }

    &__price-text {
        color: $gray5;
        font-size: 0.8125rem;
        font-weight: $light;
    }

    &__btn {
        @extend %btn;
        width: 100%;
        border-radius: 0.8125rem;
    }

    &__free-text-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 4.75rem;
    }

    &__free-text {
        color: $blue1;
        font-size: 2.125rem;
    }

    &__info-list-description {
        margin-bottom: 1rem;
    }

}

.packet-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 3.44rem;

    &__title {
        font-size: 1.5rem;
        font-weight: $bold;
        margin-bottom: 1.38rem;
    }

    &__list-description {
        font-size: 0.875rem;
    }

    &__list-item {
        position: relative;
        margin-left: 14px;

        &::before {
            content: "";
            height: 3px;
            min-width: 3px;
            background: $gray5;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: -10px;
        }
    }

    &__list-text {
        font-size: 0.875rem;
    }

    &__img {
    }
}
